@import "../../styles/responsive.scss";

.banner {
  .banner-images {
    position: relative;
    img {
      width: 100%;
      object-fit: cover;
      height: 80vh;
      filter: brightness(0.3);

      @include sm {
        height: 50vh;
      }
    }
      .banner-info {
        position: absolute;
        top: 50%;
        margin: 0px 0px 0px 20px;
        .banner-title {
          font-size: 60px;
          color: orange;

          @include sm {
            font-size: 40px;
          }

          @include EEsm {
            font-size: 30px;
          }
        }

        .banner-desc {
          font-size: 25px;
          color: #fff;

          @include sm {
            font-size: 20px;
          }
        }
      }
    }
  }

