@import "../../styles/responsive.scss";

.WorkSection-Card {
  margin: 0 auto;
  width: 100%;
  height: 280px; // Initial height
  border-radius: 5px;
  overflow: hidden; // Prevents content overflow during the transition
  background-color: #e5e6e4;
  transition: all 0.5s ease-out; // Smooth transition for hover effects

  @include xl {
    display: block;
    width: 100%;
  }

  @include lg {
    display: block;
    width: 100%;
  }

  @include md {
    display: block;
    width: 100%;
  }

  @include sm {
    display: block;
    height: 100%;
  }

  .WorkSection-Card-img {
    img {
      width: 100%;
      height: 200px; // Initial height
      object-fit: cover; // Maintains aspect ratio

      transition: height 0.4s ease-in-out; // Ensures smooth transition on hover
    }

    .image-title {
      padding: 10px;
      color: orange;
      font-size: 25px;

      @include xl {
        font-size: 24px;
      }

      @include lg {
        font-size: 22px;
      }
    }
  }

  .WorkSection-Card-info {
    display: none; // Hidden initially
    opacity: 0; // Makes the content fade in on hover
    transition: opacity 0.4s ease; // Smooth fade transition
    padding: 10px;

    .WorkSection-title {
      font-size: 24px;
      color: orange;

      @include md {
        font-size: 20px;
      }
    }

    .objective {}

    .achievements {
      margin: 10px 0;

      p {
        font-weight: bold;
        color: orange;
      }

      ul {
        margin-left: 40px;
      }
    }
  }

  &:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); // Added shadow effect on hover
    height: auto; // Allowing height to grow according to content
    transform: scale(1.02); // Slight zoom effect
    transition: all 0.5s ease-out; // Smooth transition for the entire card

    @include xl {
      width: 100%;
      height: fit-content; // Adjust height based on content
    }

    @include lg {
      height: fit-content;
      width: 100%;
    }

    @include md {
      height: fit-content;
      width: 100%;
    }

    @include sm {
      height: fit-content;
      width: 300px;
    }

    .WorkSection-Card-info {
      display: block; // Show info content on hover
      opacity: 1; // Fade in the content smoothly
    }

    .WorkSection-Card-img {
      img {
        height: 300px; // Increase the image height smoothly when hovered
      }

      .image-title {
        display: none; // Hide image title on hover (optional)
      }
    }
  }
}
