@import "../../styles/responsive.scss";

.WorkSection-Card {
  // margin-top: 10px;
  margin: 0 auto;
  width: 300px;
  height: 270px;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  background-color: #e5e6e4;
  transition: width 0.5s ease, height 0.5s ease;

  @include sm{
    display: block;
  }

  .WorkSection-Card-img {
    img {
      width: 300px;
      height: 200px;
      object-fit: cover;

      @include sm{
        width: 300px;
      }
    }

    .image-title {
      padding: 10px;
      color: orange;
    }
  }

  .WorkSection-Card-info {
    display: block;
    opacity: 0;
    transition: opacity 0.4s ease;
    padding: 10px;

    .WorkSection-title {
      font-size: 24px;
      color: orange;
    }

    .objective {
    }

    .achievements {
      margin: 10px 0px;

      p {
        font-weight: bold;
        color: orange;
      }

      ul {
        margin-left: 40px;
      }
    }
  }

  &:hover {
    width: 700px;
    height: 270px;
    transition: width 0.5s ease, height 0.5s ease;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;

    @include sm{
      height: fit-content;
      width: 300px;
    }

    .WorkSection-Card-img {
      img {
        width: 300px;
        height: 100%;
        object-fit: cover;
      }

      .image-title {
        display: none;
      }
    }

    .WorkSection-Card-info {
      opacity: 1;
    }
  }
}
