@import "../../styles/responsive.scss";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  position: sticky;
  z-index: 99;
  padding: 0px 20px;
  transition: all 0.5s;

  &.scrolled {
    background-color: #fff;
  }

  .nav-logo {
    .logo {
      img {
        height: 80px;
        width: 80px;

        @include sm {
          height: 40px;
          width: 40px;
        }
      }
    }
  }

  .nav-lists {
    .nav-list {
      margin-left: 20px;
      font-size: 20px;
      font-weight: 600;
      cursor: pointer;
      font-family: "Gabarito", sans-serif;
      color: orange;
      transition: color 0.3s ease, transform 0.2s ease, border 0.3s ease; // Smooth transitions for hover, click, and active state

      @include Esm {
        font-size: 16px;
      }

      @include EEsm {
        font-size: 14px;
      }

      &.active {
        color: orangered; // When active, the link will change color
        font-weight: bold; // Bold text when active
        transform: scale(1.05); // Slightly enlarge the font to indicate the active state
        border-bottom: 2px solid orangered; // Underline effect for active link
      }

      &:hover {
        color: orangered;
        border-bottom: 2px solid orangered;
      }

      &:active {
        transform: scale(0.95); // Slight scaling effect when clicked for feedback
        color: darkorange; // Slightly darker orange when clicked
      }
    }
  }
}
