@import "../../styles/responsive.scss";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  position: sticky;
  z-index: 99;
  padding: 0px 20px;
  transition: all 0.5s;
  background: #6b195a;
  padding: 0px 90px;

  .nav-logo {
    .logo {
      img {
        height: 80px;
        width: 80px;

        @include sm {
          height: 40px;
          width: 40px;
        }
      }
    }
  }

  .nav-lists {
    .nav-list {
      margin-left: 20px;
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;
      font-family: "Gabarito", sans-serif;
      color: #fff;
      transition: color 0.3s ease, transform 0.2s ease, border 0.3s ease; 

      @include Esm {
        font-size: 16px;
      }

      @include EEsm {
        font-size: 14px;
      }

      &.active {
        color: orangered; 
        font-weight: bold; 
        transform: scale(1.05);
      }

      &:hover {
        color: orangered;
      }

      &:active {
        transform: scale(0.95); 
        color: darkorange;
      }
    }
  }
}
