@import "../../styles/responsive.scss";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  position: sticky;
  z-index: 99;
  padding: 0px 20px;
  transition: all 0.5s;
  background: #6b195a;
  padding: 0px 90px;

  .nav-logo {
    .logo {
      img {
        height: 80px;
        width: 80px;

        @include sm {
          height: 40px;
          width: 40px;
        }
      }
    }
  }

  .nav-lists {

    .nav-options {
      position: relative;
      cursor: pointer;
      padding: 10px 15px;
      font-size: 18px;
      font-weight: 600;
      color: #fff;
      transition: color 0.3s ease-in-out;
    
      &:hover {
        color: #f56a01;
      }
    
      .services {
        position: absolute;
        top: 100%;
        left: -70px;
        background: #fff;
        width: 330px;
        border-radius: 8px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);
        transition: opacity 0.3s ease, transform 0.3s ease;
        display: flex;
        flex-direction: column;
        z-index: 10;
        border: 2px solid #f56a01;
    
        span {
          padding: 12px 15px;
          font-size: 16px;
          font-weight: 500;
          color: #333;
          transition: 0.3s ease, color 0.3s ease;
          border-bottom: 1px solid #eee;
         display: block;
    
          &:hover {
            background-color: #f56a01;
            color: #fff;
          
          }
        }
    
        span:last-child {
          border-bottom: none;
        }
      }
    
      &:hover .services {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }
    

    .nav-list {
      margin-left: 20px;
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;
      font-family: "Gabarito", sans-serif;
      color: #fff;
      transition: color 0.3s ease, transform 0.2s ease, border 0.3s ease; 

      @include Esm {
        font-size: 16px;
      }

      @include EEsm {
        font-size: 14px;
      }

      &.active {
        color: orangered; 
        font-weight: bold; 
        transform: scale(1.05);
      }

      &:hover {
        color: orangered;
      }

      &:active {
        transform: scale(0.95); 
        color: darkorange;
      }
    }
  }
}
