.Work-section {
  margin: 10px  5px 0px 5px;

  h1 {
    text-align: center;
  }
}

.Work-section-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  align-items: center;  
  overflow: hidden;
}

