@import "../../styles/responsive.scss";

.Work-section {
  margin-top: 10px;
  h1 {
    text-align: center;
  }
}

.Work-section-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
  gap: 5px;

  @include xxxl {
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    gap: 10px;
  }

  @include xxl {
    grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
    gap: 10px;
  }

  @include xl {
    grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
    gap: 10px;
  }

  @include lg {
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    gap: 5px;
  }

  @include md {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 5px;
  }

  @include sm {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 5px;
  }
}
