@import "../../styles//responsive.scss";

.footer {
  padding: 20px;
  background-image: url("../../assets/images/footerbg.png");
  background-repeat: no-repeat;
  background: #6b195a;
  background-position: 100px;
  background-position-y: -10px;
  z-index: 100;

  .footer-top {
    display: flex;
    justify-content: space-between;

    @include md {
      display: block;
    }

    @include sm {
      display: block;
    }

    .footer-left {
      display: flex;
      flex-direction: column;
      align-items: center;
      .footer-logo {
        height: 100px;
        width: 100px;
        border-radius: 50%;
      }

      .footer-social {
        margin-top: 10px;
        .social-icons {
          font-size: 30px;
          margin-right: 10px;
          color: #fff;

          &:nth-child(1) {
            // color: blue;
          }
        }
      }
    }

    .footer-right {
      color: #fff;
      h1 {
        @include md {
          text-align: center;
          margin-top: 10px;
        }
        @include sm {
          text-align: center;
          margin-top: 10px;
        }
      }

      .contact-info {
        display: flex;
        align-items: center;
        font-size: 20px;
        gap: 10px;
        margin-top: 10px;

        @include md {
          display: block;
        }

        @include sm {
          display: block;
        }

        p {
          text-align: center;
        }

        .contact-icons {
          font-size: 25px;

          &:hover {
            color: orangered;
          }

          @include md {
            display: none;
          }
          @include sm {
            display: none;
          }
        }
      }
    }
  }

  .footer-bottom {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      font-size: 16px;
      color: #fff;
      font-weight: bold;
      text-align: center;
    }
  }
}
