@import "../../../styles/responsive.scss";

.serviceOne {
  overflow: hidden;
  .serviceOne-banner {
    position: relative;
    width: 100%;
    overflow: hidden;
    img {
      height: 400px;
      width: 100%;
      object-fit: cover;

      filter: brightness(0.4);
    }

    .serviceOne-info {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      max-width: 1040px;
      text-align: center;
      padding: 0px 5px;

      @include md {
        top: 50%;
        padding: 20px;
        align-items: normal;
      }

      @include sm {
        top: 50%;
        padding: 20px;
      }

      h2 {
        font-size: 45px;

        @include md {
          font-size: 40px;
        }

        @include sm {
          font-size: 35px;
        }
      }
      p {
        font-size: 25px;
        font-weight: 500;

        @include sm {
          font-size: 20px;
        }
      }
    }
  }

  .main-section {
    display: flex;
    padding: 90px;
    flex-direction: column;
    align-items: center;

    @include lg {
      padding: 70px;
    }

    @include md {
      padding: 50px;
    }
    @include sm {
      padding: 20px;
    }

    .content-card {
      overflow: hidden;
      padding: 90px 0px 0px 0px;
      max-width: 1040px;
    }

    .serviceOne-content {
      display: flex;
      padding: 0px;
      overflow: hidden;

      @include lg {
        align-items: center;
      }
      @include md {
        display: block;
      }
      .serviceOne-content-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;

        @include lg {
          margin-right: 30px;
        }

        h1 {
          font-size: 40px;
          color: #333;
        }

        p {
          font-size: 18px;
          font-weight: 500;
        }

        .serviceOne-content-list {
          color: #666;
          .p {
            font-size: 25px;
            font-weight: 500;
          }

          ul {
            margin: 10px 0px 0px 40px;
            li {
              font-weight: 500;
            }
          }
        }
      }

      .serviceOne-content-img {
        width: 500px;
        height: auto;
        object-fit: contain;

        @include lg {
          width: 300px;
          height: 300px;
        }

        @include md {
          width: 100%;
          margin-top: 30px;
        }
      }
    }

    .serviceOne-second-content {
      display: flex;

      @include md {
        display: block;
      }
      .second-content-img {
        display: flex;
        height: auto;
        width: 100%;

        @include md {
          display: block;
        }

        img {
          width: 450px;
          object-fit: contain;

          @include lg {
            width: 300px;
          }

          @include md {
            width: 100%;
          }
        }
      }

      .second-content-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 40px;
        gap: 30px;

        @include md {
          margin-left: 0;
          margin-top: 30px;
        }
        h1 {
          font-size: 40px;
          color: #333;
        }
        p {
          font-size: 20px;
          font-weight: 500;
        }

        ul {
          margin-top: -14px;
          margin-left: 40px;
          color: #666;
          li {
            font-size: 18px;
            font-weight: 500;
          }
        }
      }
    }

    .serviceOne-third-content {
      display: flex;
      @include md {
        display: block;
      }
      .third-content-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        margin-right: 40px;

        @include md {
          margin-right: 0px;
        }
        h1 {
          font-size: 40px;
          color: #333;
        }

        p {
          font-size: 20px;
          font-weight: 500;
        }

        .third-content-left-info {
          display: flex;
          align-items: center;

          .third-content-icon {
            font-size: 20px;
            margin-right: 20px;
            color: #6b195a;

            @include md {
              font-size: 40px;
            }
          }
          .third-content-icon-desc {
            color: #666;
          }
        }

        .third-content-right-desc {
          font-size: 25px;
          font-weight: bold;
        }

        ul {
          margin-top: -14px;
          margin-left: 40px;
          color: #666;
          li {
            font-size: 18px;
            font-weight: 500;
          }
        }
      }
    }

    .serviveOne-big-dsc {
      padding: 90px 0px 0px 0px;
      max-width: 1040px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      @include md {
        gap: 15px;
      }

      p {
        font-size: 18px;
        color: #666;
      }
    }

    .serviceOne-fourth-content {
      padding: 90px 0px 0px 0px;
      max-width: 1040px;
      display: flex;

      @include md {
        display: block;
      }
      .fourth-content-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        margin-right: 40px;
        h1 {
          font-size: 40px;
          color: #333;
        }

        p {
          font-size: 20px;
          font-weight: 500;

          @include lg {
            font-size: 18px;
          }
        }
      }

      .fourth-content-right {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @include md {
          margin-top: 30px;
        }
        img {
          width: 400px;

          @include md {
            width: 100%;
          }
        }

        p {
          color: #666;
        }
      }
    }

    .serviceOne-sm-desc {
      padding: 90px 0px 90px 0px;
      max-width: 1040px;
      text-align: center;
      h1 {
        font-size: 50px;
        color: #333;
        margin-bottom: 20px;
      }

      p {
        font-size: 20px;
        font-weight: 500;
      }

      .pin {
        margin-top: 20px;

        span {
          font-size: 16px;
          color: #6b195a;
        }

        .pin-line {
          margin: 0px 10px;
          color: #000;
        }
      }
    }
  }

  .serviceOne-bottom-banner {
    position: relative;
    width: 100%;
    overflow: hidden;
    .serviceOne-bottom-img {
      height: 400px;
      width: 100%;
      object-fit: cover;

      @include lg {
        height: 500px;
      }

      @include md {
        height: 600px;
      }
    }

    .serviceOne-bottom-info {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      gap: 30px;
      text-align: center;

      h2 {
        font-size: 45px;
        margin: 0px 40px;

        @include sm {
          font-size: 35px;
        }
      }

      p {
        font-size: 25px;
        font-weight: 500;
        margin: 0px 40px;

        @include sm {
          font-size: 20px;
        }
      }

      button {
        padding: 15px 17px;
        font-size: 20px;
        border-radius: 30px;
        border: none;
        background-color: #f56a01;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
        border: 2px solid #f56a01;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: transparent;
          border: 2px solid #f56a01;
        }
      }
    }
  }
}
