@use "../../styles/responsive.scss" as *;

.aboutUs {
  overflow: hidden;
  .about-banner {
    position: relative;

    img {
      width: 100%;
      height: 70vh;
      object-fit: cover;
      filter: brightness(0.5);

      @include xl {
        height: 400px;
        height: 60vh;
        object-fit: cover;
      }

      @include lg {
        height: 400px;
        height: 50vh;
        object-fit: cover;
      }

      @include md {
        height: 400px;
        object-fit: cover;
      }

      @include sm {
        height: 300px;
        object-fit: cover;
      }
    }

    .about-banner-info {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      h1 {
        font-size: 70px;
        color: #fff;
        margin-bottom: 15px;
        font-weight: 700;
        text-align: center;

        @include md {
          font-size: 50px;
        }

        @include sm {
          font-size: 40px;
        }
      }

      .about-sm-info {
        display: flex;
        justify-content: center;
        font-size: 20px;

        .home-link {
          color: #fff;
          cursor: pointer;
          transition: color 0.3s ease, transform 0.2s ease, border 0.3s ease;

          &.active {
            color: #ff4500;
            font-weight: bold;
            transform: scale(1.05);
          }

          &:hover {
            color: #ff4500;
          }

          &:active {
            transform: scale(0.95);
            color: #ff8c00;
          }
        }

        .line {
          margin: 0px 20px;
        }

        .about-link {
          color: #ffa500;
          cursor: pointer;
        }
      }
    }
  }

  ////////////////////////////////////////////

  .card-2 {
    .card-2-img {
      width: 350px;
    }

    .about-points-info {
      margin-left: 100px;

      @include lg {
        margin-left: 0;
        margin-top: 20px;
      }

      @include md {
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }

  .about-points {
    padding: 95px;
    display: flex;
    max-width: 1600px;
    margin: 0 auto;

    @include xl {
      padding: 70px;
    }

    @include lg {
      flex-direction: column;
      align-items: center;
      padding: 60px;
    }

    @include md {
      padding: 30px;
      flex-direction: column;
      align-items: center;
    }

    .about-points-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 100px;
      gap: 10px;

      @include lg {
        margin-right: 0;
      }

      @include md {
        margin-right: 0;
      }
      @include sm {
        margin-right: 0;
      }
      h2 {
        color: #333333;
        font-size: 50px;
        font-weight: 700;
        line-height: 55px;
        margin-bottom: 20px;

        @include md {
          font-size: 50px;
          line-height: normal;
        }
        @include sm {
          font-size: 30px;
          line-height: normal;
        }
      }

      h5 {
        font-size: 20px;

        @include lg {
          font-size: 20px;
        }
      }
      p {
        color: #666666;
        font-size: 18px;
        font-weight: 400;
        line-height: 32px;
      }
    }

    img {
      height: auto;
      width: 600px;
      border: none;
      border-radius: 0;
      box-shadow: none;

      @include xl {
        width: 400px;
      }

      @include lg {
        margin-top: 30px;
        width: 100%;
      }

      @include md {
        width: 100%;
        margin-top: 20px;
      }
    }
  }

  .team {
    margin: 0px 95px 95px 95px;

    @include lg {
      margin: 0px 60px 60px 60px;
    }

    @include md {
      margin: 0px 50px 50px 50px;
    }

    @include sm {
      margin: 0px 30px 30px 30px;
    }
    h2 {
      color: #333333;
      font-size: 50px;
      text-align: center;
    }

    .team-info {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-top: 30px;

      @include xl {
        align-items: flex-start;
      }

      @include lg {
        align-items: flex-start;
      }

      @include md {
        display: block;
      }
      .team-container {
        .team-desc {
          font-size: 25px;
          color: #6b195a;
        }
        .team-sm-desc {
          margin-top: 10px;
          padding: 20px;

          @include md {
            margin-top: 0px;
          }
        }
      }
    }
  }

  .about-slider {
    background: #6b195a;
    padding: 70px 120px;

    @include xl {
      padding: 60px;
    }

    @include lg {
      padding: 50px;
    }
    @include md {
      padding: 30px;
    }
    .about-slider-info {
      border: 1px solid black;
      transition: all 0.5s ease-in-out;

      @include xl {
        border: none;
      }

      @include lg {
        border: none;
      }

      @include md {
        border: none;
      }

      .slider-sm-info {
        display: flex;
        position: relative;

        @include xl {
          align-items: center;
        }

        @include lg {
          display: block;
        }

        @include md {
          display: block;
        }

        @include sm {
          flex-direction: column;
          align-items: center;
        }

        .img-bg-div {
          background-color: #f56a01;
          display: none;
          width: 327px;
          height: 327px;
          position: absolute;
          top: 75px;
          left: 2%;
          transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
          transition: all 0.4s ease-in-out;
          z-index: 0;
        }
        .slider-img {
          object-fit: contain;
          margin-left: 40px;
          z-index: 1;
          width: 300px;

          @include lg {
            margin-left: 0;
            width: 300px;
          }

          @include md {
            margin-left: 0;
            width: 300px;
          }

          @include sm {
            margin-left: 0;
            width: 100%;
          }
        }

        .slider-details {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 100px;

          @include xl {
            padding: 20px;
          }

          @include lg {
            padding: 0px;
          }

          @include md {
            padding: 0px;
          }

          h3 {
            color: #fff;
            font-size: 22px;
            line-height: 37px;
            margin-bottom: 22px;

            @include lg {
              margin-top: 22px;
            }

            @include md {
              margin-top: 22px;
            }
          }

          .slider-name {
            color: #fff;
            font-size: 28px;
            font-weight: normal;
            margin-bottom: 3px;
            font-weight: 500;
          }

          .slider-add {
            color: #fff;
            font-weight: 700;
            font-size: 14px;
          }
        }
      }

      &:hover {
        .img-bg-div {
          top: 98px;
          left: 40px;
        }
      }
    }
  }

  .about-cause {
    padding: 95px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include lg {
      padding: 60px;
    }

    @include md {
      padding: 50px;
    }

    @include sm {
      padding: 30px;
    }

    .aboout-cause-title {
      font-size: 50px;
      line-height: 70px;
      margin: 0px 0px 28px 0px;
      padding: 0% 13% 0% 13%;
      text-align: center;

      @include lg {
        font-size: 40px;
        margin: 0;
        line-height: normal;
        padding: 0;
      }

      @include md {
        font-size: 30px;
        margin: 0;
        line-height: normal;
        padding: 0;
      }

      @include sm {
        font-size: 30px;
        margin: 0;
        line-height: normal;
        padding: 0;
      }
    }

    .about-cause-info {
      display: flex;
      margin-top: 40px;
      justify-content: center;
      text-align: center;
      gap: 30px;

      @include md {
        flex-wrap: wrap;
      }

      @include sm {
        flex-wrap: wrap;
      }

      .about-cause-icons {
        .about-cause-img {
          font-size: 120px;
          border-radius: 50%;
          color: #fff;
          padding: 20px;
        }

        .about-icons-title {
          font-size: 34px;
          font-weight: 600;
        }

        .about-icons-desc {
          color: #666666;
          list-style: none;

          li {
            margin-top: 5px;
            font-weight: 500;
          }
        }
      }

      .about-cause-icons:nth-child(1) {
        .about-cause-img {
          border: 6px solid #f9aa6f;
          background-color: #f56a01;
        }

        .about-icons-title {
          color: #f56a01;
        }

        .about-icons-desc {
        }
      }

      .about-cause-icons:nth-child(2) {
        .about-cause-img {
          border: 6px solid #6fc7f9;
          background-color: #019cf5;
        }

        .about-icons-title {
          color: #019cf5;
        }

        .about-icons-desc {
        }
      }

      .about-cause-icons:nth-child(3) {
        color: red;
        .about-cause-img {
          background-color: #a93ea8;
          border: 6px solid #ce91ce;
        }

        .about-icons-title {
          color: #a93ea8;
        }

        .about-icons-desc {
        }
      }

      .about-cause-icons {
        .about-cause-img {
        }

        .about-icons-title {
        }

        .about-icons-desc {
        }
      }
    }
  }

  .banner-bottom-img {
    padding: 0px 90px 0px 90px;

    @include lg {
      padding: 60px;
    }

    @include md {
      padding: 50px;
    }

    @include sm {
      padding: 30px;
    }

    img {
      width: 100%;
      height: 600px;
      object-fit: cover;

      @include sm {
        height: 400px;
      }
    }
  }
}
