@import "../../styles/responsive.scss";

.weDoSection {
  margin-top: 10px;

  .title {
    text-align: center;
  }

  .weDo-Section-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;

    @include lg {
      grid-template-columns: repeat(2, 1fr);
      gap: 2px;
    }

    @include md {
      grid-template-columns: repeat(2, 1fr);
      gap: 2px;
    }

    @include sm {
      grid-template-columns: repeat(2, 1fr);
      gap: 2px;
    }

    @include Esm {
      grid-template-columns: repeat(2, 1fr);
      gap: 2px;
    }

    @include EEsm {
      grid-template-columns: repeat(2, 1fr);
      gap: 2px;
    }
  }
}
