@use "../../styles/responsive.scss" as *;

.weDoSection {
  margin-top: 10px;

  .title {
    text-align: center;
    font-size: 45px;
  }

  .weDo-Section-cards {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
}
