@import "../../../styles/responsive.scss";

.serviceTwo {
  .serviceTwo-banner {
    position: relative;
    img {
      height: 400px;
      width: 100%;
      object-fit: cover;
    }

    .serviceTwo-info {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      padding: 0px 5px;
      text-align: center;

      @include md {
        top: 50%;
        padding: 20px;
        align-items: normal;
      }

      @include sm {
        top: 50%;
        padding: 20px;
      }

      h2 {
        font-size: 45px;
        text-align: center;

        @include md {
          font-size: 40px;
        }

        @include sm {
          font-size: 35px;
        }
      }
      p {
        font-size: 25px;
        font-weight: 500;

        @include sm {
          font-size: 20px;
        }
      }
    }
  }

  .serviceTwo-main-section {
    display: flex;
    padding: 90px;
    flex-direction: column;
    align-items: center;

    @include lg {
      padding: 70px;
    }

    @include md {
      padding: 50px;
    }
    @include sm {
      padding: 20px;
    }

    .content-card {
      overflow: hidden;
      padding: 90px 0px 0px 0px;
      max-width: 1040px;
    }

    .serviceTwo-content {
      display: flex;
      padding: 0px;

      @include lg {
        align-items: center;
      }
      @include md {
        display: block;
      }

      .serviceTwo-content-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        margin-right: 60px;

        @include lg {
          margin-right: 30px;
        }

        @include md {
          margin-right: 0;
        }

        @include sm {
          gap: 10px;
        }

        h1 {
          font-size: 40px;
          color: #333;

          @include sm {
            padding: 0px 5px;
          }
        }

        p {
          font-size: 18px;
          font-weight: 500;
        }

        .serviceTwo-content-sm-desc {
          color: #666;
        }
      }

      img {
        width: 400px;
        object-fit: cover;

        @include lg {
          width: 300px;
          height: 300px;
        }

        @include md {
          width: 100%;
          margin-top: 30px;
        }
      }
    }

    .serviceTwo-second-content {
      display: flex;

      @include md {
        display: block;
      }
      img {
        width: 300px;
        object-fit: contain;

        @include lg {
          width: 200px;
        }

        @include md {
          width: 100%;
        }
      }

      .second-content-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 40px;
        gap: 30px;

        @include md {
          margin-left: 0;
          margin-top: 30px;
        }

        h1 {
          font-size: 40px;
          color: #333;
        }
        p {
          font-weight: 500;
          font-size: 20px;
        }

        .second-content-sm-dsc {
          color: #666;
        }
      }
    }

    .serviceTwo-third-content {
      display: flex;

      @include md {
        display: block;
      }

      .third-content-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        margin-right: 40px;

        @include md {
          margin-right: 0px;
        }
        h1 {
          font-size: 40px;
          color: #333;
        }

        p {
          font-size: 20px;
          font-weight: 500;

        }

        .third-content-sm-desc {
          color: #666;

          @include lg{
            font-size: 18px;
          }
        }
      }

      .third-content-right {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include md {
          margin-top: 20px;
        }
        img {
          width: 400px;

          @include md {
            width: 100%;
          }
        }

        h4 {
          font-size: 23px;
          font-weight: bold;
        }

        .third-content-1-desc {
          font-size: 18px;
        }

        .third-content-2-desc {
          color: #666;
        }
      }
    }
  }

  .serviceTwo-bottom-banner {
    position: relative;
    overflow: hidden;
    img {
      height: 400px;
      width: 100%;
      object-fit: cover;

      @include lg {
        height: 500px;
      }

      @include md {
        height: 600px;
      }
    }

    .serviceTwo-bottom-info {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      gap: 20px;
      text-align: center;

      h2 {
        font-size: 45px;

        @include sm {
          font-size: 35px;
        }
      }
      p {
        font-size: 25px;
        font-weight: 500;
        margin: 0px 40px;

        @include sm {
          font-size: 20px;
        }
      }

      button {
        padding: 15px 17px;
        font-size: 20px;
        border-radius: 30px;
        border: none;
        background-color: #f56a01;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
        border: 2px solid #f56a01;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: transparent;
          border: 2px solid #f56a01;
        }
      }

      .serviceTwo-user {
        display: flex;
        gap: 20px;
        img {
          height: 60px;
          width: 60px;
          object-fit: cover;
          border-radius: 50%;
        }

        .serviceTwo-user-name {
          display: flex;
          flex-direction: column;
          justify-content: center;

          p:first-child {
            font-weight: 600;
            font-size: 20px;
          }

          p:last-child {
            font-size: 14px;
          }
        }
      }
    }
  }
}
