.serviceTwo {
    .serviceTwo-banner {
      position: relative;
      .serviceTwo-banner-img {
        height: 400px;
        width: 100%;
        object-fit: cover;
      }
  
      .serviceTwo-info {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
  
        .serviceTwo-title {
          font-size: 45px;
          text-align: center;
        }
        .serviceTwo-desc {
          font-size: 25px;
          font-weight: 500;
        }
      }
    }



    .serviceTwo-main-section {
        display: flex;
        padding: 90px;
        flex-direction: column;
        align-items: center;
        .serviceTwo-content {
          max-width: 1040px;
          display: flex;
          .serviceTwo-content-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            margin-right: 60px;
            .serviceTwo-content-title {
              font-size: 40px;
              color: #333;
            }
    
            .serviceTwo-content-desc {
              font-size: 18px;
              font-weight: 500;
            }
    
            .serviceTwo-content-sm-desc{
color: #666;
            }
            
          }
    
          .serviceTwo-content-img {
            width: 400px;
            object-fit: cover;
          }
        }

        .serviceTwo-second-content {
            padding: 90px 0px 0px 0px;
            max-width: 1040px;
            display: flex;
              .second-content-img {
                width: 300px;
                object-fit: contain;
      
               
              }
            
      
            .second-content-info {
              display: flex;
              flex-direction: column;
              justify-content: center;
              margin-left: 40px;
              gap: 30px;
              .second-content-title {
                font-size: 40px;
                color: #333;
              }
              .second-content-desc {
                font-weight: 500;
                font-size: 20px;
              }
      
              .second-content-sm-dsc {
                color: #666;
              }
            }
          }


          .serviceTwo-third-content {
            padding: 90px 0px 0px 0px;
            max-width: 1040px;
            display: flex;
            .third-content-left {
              display: flex;
              flex-direction: column;
              justify-content: center;
              gap: 30px;
              margin-right: 40px;
              .third-content-left-title {
                font-size: 40px;
                color: #333;
              }
      
              .third-content-left-desc {
                font-size: 20px;
                font-weight: 500;
              }
      
      
        
                .third-content-sm-desc{
                  color: #666;
                }
             
            }
      
            .third-content-right {
              display: flex;
              flex-direction: column;
              gap: 20px;
              .third-content-right-img {
                width: 400px;
              }
      
              .third-content-right-desc {
                font-size: 23px;
                font-weight: bold;
              }
      
              .third-content-1-desc{
                font-size: 18px;
              }

              .third-content-2-desc{
                color: #666;
              }
            }
          }
    }    


    .serviceTwo-bottom-banner {
        position: relative;
        .serviceTwo-bottom-img {
          height: 400px;
          width: 100%;
          object-fit: cover;
        }
    
        .serviceTwo-bottom-info {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #fff;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-items: center;
          align-items: center;
          gap: 20px;
    
          .serviceTwo-bottom-title {
            font-size: 45px;
          }
          .serviceTwo-bottom-desc {
            font-size: 25px;
            font-weight: 500;
            text-align: center;
            margin: 0px 40px;
          }
    
          button {
            padding: 15px 17px;
            font-size: 20px;
            border-radius: 30px;
            border: none;
            background-color: #f56a01;
            font-weight: 600;
            color: #fff;
            cursor: pointer;
            border: 2px solid #f56a01;
            transition: all 0.3s ease-in-out;
    
            &:hover {
              background-color: transparent;
              border: 2px solid #f56a01;
            }
          }

          .serviceTwo-user{
            display: flex;
            gap: 20px;
            img{
                height: 60px;
                width: 60px;
                object-fit: cover;
                border-radius: 50%;
            }

            .serviceTwo-user-name{
                display: flex;
                flex-direction: column;
                justify-content: center;


               p:first-child{
                font-weight: 600;
                font-size: 20px;
               }

               p:last-child{
                font-size: 14px;
               }
            }
          }
        }
      }

}