@import "../../../styles/responsive.scss";

.serviceThree {
  .serviceThree-banner {
    position: relative;
    img {
      height: 400px;
      width: 100%;
      object-fit: cover;
      filter: brightness(0.4);

    }

    .serviceThree-info {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      max-width: 1040px;
      text-align: center;
      padding: 0px 5px;

      @include md {
        top: 50%;
        padding: 20px;
        align-items: normal;
      }

      @include sm {
        top: 60%;
      }

      h2 {
        font-size: 45px;
      }
    }
    p {
      font-size: 25px;
      font-weight: 500;

      @include sm {
        font-size: 20px;
      }
    }
  }

  .serviceThree-main-section {
    display: flex;
    padding: 90px;
    flex-direction: column;
    align-items: center;

    @include lg {
      padding: 70px;
    }

    @include md {
      padding: 50px;
    }
    @include sm {
      padding: 20px;
    }

    .serviceThree-content {
      max-width: 1040px;
      display: flex;

      @include lg {
        align-items: center;
      }
      @include md {
        display: block;
      }

      .serviceThree-content-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        margin-right: 60px;

        @include lg {
          margin-right: 30px;
        }

        h1 {
          font-size: 40px;
          color: #333;
        }

        p {
          font-size: 18px;
          font-weight: 500;
        }

        .serviceThree-content-sm-desc {
          color: #666;
        }
      }

      img {
        width: 400px;
        object-fit: contain;

        @include lg {
          width: 300px;
          height: 300px;
        }

        @include md {
          width: 100%;
          margin-top: 30px;
        }
      }
    }
  }

  .serviceThree-center-banner {
    position: relative;
    margin-top: 10px;
    img {
      height: 400px;
      width: 100%;
      object-fit: cover;
    }

    .serviceThree-center-info {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;

      max-width: 1040px;
      text-align: center;
      padding: 0px 5px;

      @include md {
        top: 50%;
        padding: 20px;
        align-items: normal;
      }

      @include sm {
        top: 50%;
        padding: 20px;
      }

      h2 {
        font-size: 45px;
      }
      p {
        font-size: 25px;
        font-weight: 500;
      }
    }
  }

  .project {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 90px;
    align-items: center;
    max-width: 1040px;
    margin: 0 auto;

    @include lg {
      padding: 70px;
    }

    @include md {
      grid-template-columns: repeat(1, 1fr) !important;
      padding: 50px;
    }

    @include sm {
      padding: 20px;
    }

    .project-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
      padding: 20px;
      margin-bottom: 60px;
      align-self: flex-start;
      text-align: center;
      width: 100%;
      max-width: 600px;

      &:nth-child(odd) {
        border-right: 1px solid #666;

        @include md {
          border-right: none;
        }
      }

      &:nth-child(odd):last-child {
        grid-column: span 2;
        border-right: none;
        justify-self: center;
        max-width: 600px;

        @include md {
          grid-column: span 1;
        }
      }

      h1 {
        font-size: 35px;
        color: #333;

        @media (max-width: 400px) {
          font-size: 30px;
        }
      }

      .led-by {
        font-size: 14px;
      }

      p {
        font-size: 20px;
        font-style: italic;
        color: #666;
      }

      .project-user {
        display: flex;
        gap: 20px;

        img {
          height: 60px;
          width: 60px;
          object-fit: cover;
          border-radius: 50%;
        }

        .project-user-name {
          display: flex;
          flex-direction: column;
          justify-content: center;

          p:first-child {
            font-weight: 600;
            font-size: 20px;
            font-style: normal;

            @media (max-width: 400px) {
              font-size: 16px;
            }
          }

          p:last-child {
            font-size: 14px;
            align-self: flex-start;
          }
        }
      }
    }
  }

  .sm-projects {
    padding: 0px 90px 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

    @include md {
      padding: 50px;
      gap: 40px;
    }

    @include sm {
      padding: 30px;
    }
    .sm-project {
      max-width: 1040px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 20px;
      h1 {
        font-size: 40px;
        color: #333;
      }

      p {
        font-size: 20px;
        font-weight: 500;
        color: #666;
        font-style: italic;
      }

      .sm-project-user {
        display: flex;
        gap: 20px;
        img {
          height: 60px;
          width: 60px;
          object-fit: cover;
          border-radius: 50%;
        }
      }

      .sm-project-user-name {
        display: flex;
        flex-direction: column;
        justify-content: center;

        p:first-child {
          font-weight: 600;
          font-size: 20px;
        }

        p:last-child {
          font-size: 14px;
        }
      }
    }
  }

  .serviceThree-bottom-banner {
    height: 400px;
    background-color: #323c77;
    color: #fff;
    position: relative;
    margin-top: 30px;

    @include lg {
      height: 500px;
    }

    @include md {
      height: 600px;
    }

    @include sm {
      height: 600px;
    }

    .serviceThree-bottom-banner-info {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      padding: 0px 50px;

      @include md {
        padding: 0px 20px;
      }

      @include sm {
        padding: 0px 10px;
      }

      h2 {
        font-size: 45px;

        @include md {
          font-size: 40px;
        }
        @include sm {
          font-size: 35px;
        }
      }

      p {
        font-size: 25px;
        font-weight: 500;

        @include sm {
          font-size: 20px;
        }
      }

      .serviceThree-bottom-buttons {
        display: flex;
        gap: 10px;

        @include sm {
          display: block;
        }

        button {
          padding: 15px 17px;
          font-size: 20px;
          border-radius: 30px;
          border: none;
          background-color: #f56a01;
          font-weight: 600;
          color: #fff;
          cursor: pointer;
          border: 2px solid #f56a01;
          transition: all 0.3s ease-in-out;

          &:last-child {
            background: #fff;
            color: #000;

            @include sm {
              margin-top: 10px;
            }
          }

          &:hover {
            background-color: transparent;
            border: 2px solid #f56a01;
          }
        }
      }
    }
  }
}
